body {
  background: linear-gradient(0deg, #6139a5 0%, #4570df 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#game-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px); /* 10 багана */
  grid-template-rows: repeat(20, 30px); /* 20 мөр */
  gap: 1px;
  background-color: #333;
  border: 2px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

#next-shape-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#next-shape {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);
  gap: 1px;
  background-color: #333;
  padding: 5px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #444;
}

.cell.active {
  background-color: var(--color, #f39c12); /* Санамсаргүй өнгө */
}

.cell.fixed {
  background-color: var(--color, #e74c3c); /* Санамсаргүй өнгө хадгалах */
}


.cell.shadow {
  background-color: rgba(243, 156, 18, 0.3);
}

#score-container {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  text-align: center;
}
button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}