body{
  background: linear-gradient(0deg, #6139a5 0%, #4570df 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding: 0;

}

/* .block{
  width: 30px;
  height: 30px;
  position: absolute;
  border:1px solid black;
  box-shadow:inset 3px 3px 0 rgba(255,255, 255, 0.5);
}
.ghost{
  width: 30px;
  height: 30px;
  position: absolute;
  border:1px solid black;
  box-shadow:inset 3px 3px 0 rgba(255,255, 255, 0.3);
} */
#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px); /* 10 багана */
  grid-template-rows: repeat(20, 30px); /* 20 мөр */

  width: 300px;
  height: 600px;
  margin: 0 auto;
  border-radius: 5px, solid #3e5eba;
  background: repeating-linear-gradient(rgba(22,28,67,0.8), rgba(22,28,67,0.8) 20px, rgba(23,27, 63, 0.8) 20px, rgba(23,27, 63, 0.8) 40px),
  repeating-linear-gradient(90deg,rgba(22,28,67,0.8), rgba(22,28,67,0.8) 20px, rgba(23,27, 63, 0.8) 20px, rgba(23,27, 63, 0.8) 40px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}
.cell {
  width: 30px;
  height: 30px;
  border:1px solid black;
  box-shadow:inset 3px 3px 0 rgba(255,255, 255, 0.3);
}
.active {
  background-color: red ;
}
.fixed {
  background-color: #555; /* Бэхлэгдсэн блок саарал өнгөтэй */
}